header {
  width: 100%;
  position: relative; }
  header .nav-container {
    width: 100%;
    height: 8rem; }
    header .nav-container .logo-container {
      height: 4rem;
      position: relative; }
      header .nav-container .logo-container .logo {
        position: absolute;
        left: 1rem;
        top: 1rem;
        height: 4vh; }
        header .nav-container .logo-container .logo .lrg-logo {
          display: none; }
        header .nav-container .logo-container .logo .mbl-logo {
          display: inline-block; }
        @media screen and (max-width: 481px) {
          header .nav-container .logo-container .logo .lrg-logo {
            display: inline-block; }
          header .nav-container .logo-container .logo .mbl-logo {
            display: none; } }
      header .nav-container .logo-container .nav-icon-container {
        position: absolute;
        color: teal;
        top: 1rem;
        right: 1rem;
        width: 17rem; }
        header .nav-container .logo-container .nav-icon-container .nav-icons {
          display: flex;
          justify-content: space-between; }
          header .nav-container .logo-container .nav-icon-container .nav-icons i {
            display: flex;
            justify-content: center;
            height: .1rem; }
        header .nav-container .logo-container .nav-icon-container .menu {
          display: inline-block; }
        @media only screen and (min-width: 768px) {
          header .nav-container .logo-container .nav-icon-container .menu {
            display: none; } }
    header .nav-container .search-container {
      background-color: grey;
      height: 4rem;
      position: relative; }
      header .nav-container .search-container .searchfield-container {
        position: absolute;
        top: .7rem;
        left: 1rem;
        bottom: 1rem;
        right: 1rem;
        height: 5vh; }
        header .nav-container .search-container .searchfield-container .nav-input {
          position: absolute;
          height: 80%;
          width: 18rem;
          font-size: 1.25rem;
          border: 0; }
        @media screen and (min-width: 481px) {
          header .nav-container .search-container .searchfield-container .nav-input {
            width: 14rem;
            font-size: 1rem; } }
        header .nav-container .search-container .searchfield-container .nav-submit-icon {
          position: absolute;
          width: 6.8rem;
          height: 85%;
          background-color: teal;
          color: white;
          border: none;
          border-radius: .25rem;
          left: 18.2rem; }
          header .nav-container .search-container .searchfield-container .nav-submit-icon .search-logo {
            height: 80%; }
          @media screen and (min-width: 481px) {
            header .nav-container .search-container .searchfield-container .nav-submit-icon .search-logo {
              display: none; } }
        @media screen and (min-width: 481px) {
          header .nav-container .search-container .searchfield-container .nav-submit-icon {
            display: none; } }
        header .nav-container .search-container .searchfield-container .links {
          position: absolute;
          display: none; }
          header .nav-container .search-container .searchfield-container .links .nav-submit {
            display: none; }
          @media screen and (min-width: 481px) {
            header .nav-container .search-container .searchfield-container .links .nav-submit {
              display: inline-block;
              background-color: teal;
              color: white;
              border: none;
              border-radius: .25rem; } }
        @media screen and (min-width: 481px) {
          header .nav-container .search-container .searchfield-container .links {
            display: flex;
            position: absolute;
            right: 0;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            width: 30rem;
            color: white;
            font-size: .9rem;
            text-decoration: underline; } }

main .hero-header {
  position: relative;
  background: lightgrey;
  height: 52rem; }
  main .hero-header .image-container {
    height: 25rem; }
    main .hero-header .image-container .agent-img {
      position: absolute;
      left: 1rem;
      height: 25rem; }
    @media screen and (min-width: 481px) {
      main .hero-header .image-container .agent-img {
        height: 15rem; } }
  @media screen and (min-width: 481px) {
    main .hero-header .image-container {
      height: 0; } }
  main .hero-header .hero-name-container {
    height: 12rem;
    display: flex; }
    main .hero-header .hero-name-container .name-container {
      position: absolute;
      left: 1rem;
      height: 4rem; }
      main .hero-header .hero-name-container .name-container .agent-name {
        font-size: 3rem;
        position: relative;
        width: 90vw;
        margin-top: 1rem;
        margin-bottom: 0; }
      main .hero-header .hero-name-container .name-container .realtor-cpyrght {
        position: relative;
        font-size: 1rem;
        width: 90vw;
        margin-top: 0;
        color: grey; }
      main .hero-header .hero-name-container .name-container .contact-btn {
        position: absolute;
        width: 95%;
        background-color: teal;
        height: 3rem;
        border-radius: .25rem;
        color: white;
        font-size: 2rem; }
      @media screen and (min-width: 481px) {
        main .hero-header .hero-name-container .name-container .contact-btn {
          top: 8rem; } }
    @media screen and (min-width: 481px) {
      main .hero-header .hero-name-container .name-container {
        position: absolute;
        left: 14rem;
        height: 4rem;
        width: 33%; } }
    main .hero-header .hero-name-container .hero-i-container {
      position: absolute;
      top: 35rem;
      width: 90%;
      left: 1rem;
      height: 3rem;
      display: flex;
      justify-content: space-between; }
    @media screen and (min-width: 481px) {
      main .hero-header .hero-name-container .hero-i-container {
        position: absolute;
        top: 12rem;
        left: 14rem;
        width: 33%; } }
  @media screen and (min-width: 481px) {
    main .hero-header .hero-name-container {
      height: 0; } }
  main .hero-header .hero-contact-container {
    position: absolute;
    top: 38rem;
    width: 90%;
    height: 13rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    main .hero-header .hero-contact-container i {
      color: teal;
      display: flex;
      flex: 1 0 1rem; }
      main .hero-header .hero-contact-container i .phn-icn-space {
        width: 2rem; }
      main .hero-header .hero-contact-container i .dsktp-icn-space {
        width: 1.3rem; }
      main .hero-header .hero-contact-container i .bldng-icn-space {
        width: 1.9rem; }
      main .hero-header .hero-contact-container i .nwpr-icn-space {
        width: 1.1rem; }
      main .hero-header .hero-contact-container i span {
        font-size: 1rem; }
  @media screen and (min-width: 481px) {
    main .hero-header .hero-contact-container {
      top: 1rem;
      left: 30rem;
      width: 33%; } }

@media screen and (min-width: 481px) {
  main .hero-header {
    height: 15rem; } }

main .content-container {
  position: relative;
  background-color: white;
  height: 76rem; }
  main .content-container .agent-select {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 90%;
    height: 3rem;
    background-color: white;
    font-size: 1rem;
    font-weight: bold; }
  @media screen and (min-width: 481px) {
    main .content-container .agent-select {
      display: none; } }
  main .content-container .content-tab {
    display: none; }
    main .content-container .content-tab .tablinks {
      height: 5rem;
      background-color: white;
      width: 25%;
      border: 2px solid grey;
      border-top: none;
      border-left: none;
      border-right: none;
      font-size: 1.1rem;
      color: grey; }
    main .content-container .content-tab .active {
      color: teal;
      border: 2px solid teal;
      border-top: none;
      border-left: none;
      border-right: none; }
  @media screen and (min-width: 481px) {
    main .content-container .content-tab {
      display: flex;
      justify-content: space-around; } }
  main .content-container .content-block {
    position: absolute;
    left: 1rem;
    top: 5rem;
    width: 90%;
    font-size: 1.25rem;
    line-height: 150%; }
  @media screen and (min-width: 481px) {
    main .content-container .content-block {
      width: 65%; } }
  main .content-container .designation-container {
    position: absolute;
    left: 1rem;
    top: 58rem; }
    main .content-container .designation-container h2 {
      padding-top: 2rem; }
  @media screen and (min-width: 481px) {
    main .content-container .designation-container {
      top: 3rem;
      left: 34rem; } }

footer {
  position: absolute;
  width: 94vw;
  top: 137rem;
  display: flex;
  background-color: teal;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 20rem; }
  footer .footer-phn-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%; }
    footer .footer-phn-address i {
      font-size: 1.5rem; }
    footer .footer-phn-address .footer-phn {
      font-size: 1.5rem; }
    footer .footer-phn-address .footer-address {
      font-size: 1.25rem; }
  footer .footer-i-container {
    display: flex;
    justify-content: space-between;
    width: 75%; }
  footer .footer-links {
    display: flex;
    justify-content: space-between;
    width: 75%;
    font-size: 1.2rem; }
    footer .footer-links a {
      color: white; }

@media screen and (min-width: 481px) {
  footer {
    top: 78rem; } }
