header {
  width: 100%;
  position: relative;
  .nav-container {
    width: 100%;
    height: 8rem;
    .logo-container {
      height: 4rem;
      position: relative;
      .logo{
        position: absolute;
        left: 1rem;
        top: 1rem;
        height: 4vh;
        .lrg-logo {
            display: none;
          }
        .mbl-logo {
          display: inline-block;
        }
          @media screen and (max-width: 768px){
            .lrg-logo{
              display: inline-block;
            }
            .mbl-logo {
              display: none;
            }
          }
        }
      .nav-icon-container {
        position: absolute;
        color: teal;
        top: 1rem;
        right: 1rem;
        width: 17rem;
        .nav-icons {
          display: flex;
          justify-content: space-between;
          i {
            display: flex;
            justify-content: center;
            height: .1rem;
          }
        }
        .menu {
          display: inline-block;
        }
        @media only screen and (min-width: 481px){
          .menu {
            display: none;
          }
        }
      }
    }
    .search-container {
      background-color: grey;
      height: 4rem;
      position: relative;
      .searchfield-container {
        position: absolute;
        top: .7rem;
        left: 1rem;
        bottom: 1rem;
        right: 1rem;
        height: 5vh;
        .nav-input {
          position: absolute;
          height: 80%;
          width: 18rem;
          font-size: 1.25rem;
          border: 0;
        }
        .nav-submit-icon {
          position: absolute;
          width: 6.8rem;
          height: 85%;
          background-color: teal;
          color: white;
          border: none;
          border-radius: .25rem;
          left: 18.2rem;
          .search-logo {
            height: 80%;
          }
          @media screen and (min-width: 481px){
            .search-logo {
              display: none;
            }
          }
        }
        @media screen and (min-width: 481px){
          .nav-submit-icon {
            display: none;
          }
        }
        .nav-submit {
          display: none;
        }
        @media screen and (min-width: 481px){
          .nav-submit {
            display: inline-block;
            position: absolute;
            width: 6.8rem;
            height: 85%;
            background-color: teal;
            color: white;
            border: none;
            border-radius: .25rem;
            border: 1px solid red;
          }
      }
      .links {
        position: absolute;
        display: none;
      }
      @media screen and (min-width: 481px){
        .links {
          display: inline-block;
        }
      }
    }
  }
}
}

main {
  .hero-header {
    position: relative;
    background: lightgrey;
    height: 52rem;
    .image-container{
      .agent-img{
        position: absolute;
        left: 1rem;
        height: 25rem;
      }
    }
    .hero-name-container{
      border: 1px solid red;
      display: flex;
      .name-container {
        position: absolute;
        top: 24rem;
        left: 1rem;
        .agent-name{
          font-size: 3rem;
          position: relative;
          width: 90vw;
          margin-top: 1rem;
          margin-bottom: 0;
        }
        .realtor-cpyrght{
          position: relative;
          font-size: 1rem;
          width: 90vw;
          margin-top: 0;
          color: grey;
        }
        .contact-btn {
          position: absolute;
          width: 95%;
          background-color: teal;
          height: 3rem;
          border-radius: .25rem;
          color: white;
          font-size: 2rem;
        }
      }
      .hero-i-container{
        position: absolute;
        top: 35rem;
        width: 90%;
        left: 1rem;
        height: 3rem;
        display: flex;
        justify-content: space-between;
      }
  }
    .hero-contact-container {
      position: absolute;
      top: 38rem;
      width: 90%;
      height: 13rem;
      left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      i {
        color: teal;
        span {
          font-size: 1rem;
        }
      }
    }
  }
  .content-container {
    position: relative;
    background-color: white;
    height: 68rem;
    .agent-select {
      position: absolute;
      left: 1rem;
      top: 1rem;
      width: 90%;
      height: 3rem;
      background-color: white;
      font-size: 1rem;
      font-weight: bold;
    }
    .content-block {
      position: absolute;
      left: 1rem;
      top: 5rem;
      width: 90%;
      font-size: 1.25rem;
      line-height: 150%;
    }
    .designation-container {
      position: absolute;
      left:1rem;
      top: 58rem;
      h2 {
        padding-top: 2rem;
      }
    }
  }
}

footer {
  position: absolute;
  width: 100vw;
  top: 137rem;
  display: flex;
  background-color: teal;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 20rem;
  .footer-phn-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    i {
      font-size: 1.5rem;
    }
    .footer-phn {
      font-size: 1.5rem;
    }
    .footer-address {
      font-size: 1.25rem;
    }
  }
  .footer-i-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
  }
  .footer-links {
    display: flex;
    justify-content: space-between;
    width: 75%;
    font-size: 1.2rem;
    a {
      color: white;
    }
  }
}
