//768 tablet
//480 iphone
//768 and up desktop

header {
    width: 100%;
    position: relative;
      .nav-container {
        width: 100%;
        height: 8rem;
        .logo-container {
          height: 4rem;
          position: relative;
          .logo{
            position: absolute;
            left: 1rem;
            top: 1rem;
            height: 4vh;
            .lrg-logo {
                display: none;
              }
            .mbl-logo {
              display: inline-block;
            }
            @media screen and (max-width: 481px){
              .lrg-logo{
                display: inline-block;
              }
              .mbl-logo {
                display: none;
              }
            }
          }
          .nav-icon-container {
            position: absolute;
            color: teal;
            top: 1rem;
            right: 1rem;
            width: 17rem;
            .nav-icons {
              display: flex;
              justify-content: space-between;
              i {
                display: flex;
                justify-content: center;
                height: .1rem;
              }
            }
            .menu {
              display: inline-block;
            }
            @media only screen and (min-width: 768px){
              .menu {
                display: none;
              }
            }
          }
        }
        .search-container {
          background-color: grey;
          height: 4rem;
          position: relative;
          .searchfield-container {
            position: absolute;
            top: .7rem;
            left: 1rem;
            bottom: 1rem;
            right: 1rem;
            height: 5vh;
            .nav-input {
              position: absolute;
              height: 80%;
              width: 18rem;
              font-size: 1.25rem;
              border: 0;
            }
            @media screen and (min-width: 481px){
              .nav-input {
                width: 14rem;
                font-size: 1rem;
              }
            }
            .nav-submit-icon {
              position: absolute;
              width: 6.8rem;
              height: 85%;
              background-color: teal;
              color: white;
              border: none;
              border-radius: .25rem;
              left: 18.2rem;
              .search-logo {
                height: 80%;
              }
              @media screen and (min-width: 481px){
                .search-logo {
                  display: none;
                }
              }
            }
            @media screen and (min-width: 481px){
              .nav-submit-icon {
                display: none;
              }
            }
            .links {
              position: absolute;
              display: none;
            .nav-submit {
              display: none;
              width: 5rem;
              height: 3rem;
              text-decoration: none;
            }
            @media screen and (min-width: 481px){
              .nav-submit {
                display: inline-block;
                background-color: teal;
                color: white;
                border: none;
                border-radius: .25rem;
                font-size: 1.1rem;
              }
              a {
                text-decoration: underline;
              }
            }
          }
          @media screen and (min-width: 481px){
            .links {
              display: flex;
              position: absolute;
              right: 0;
              justify-content: space-around;
              align-items: center;
              height: 100%;
              width: 30rem;
              color: white;
              font-size: .9rem;
            }
          }
        }
      }
    }
}

main {
  .hero-header {
    position: relative;
    background: lightgrey;
    height: 52rem;
    .image-container{
      height: 25rem;
      .agent-img{
        position: absolute;
        left: 1rem;
        height: 25rem;
      }
      @media screen and (min-width: 481px){
        .agent-img{
          height: 15rem;
          }
        }
      }
      @media screen and (min-width: 481px){
        .image-container{
          height: 0;
        }
    }
    .hero-name-container{
      height: 12rem;
      display: flex;
      .name-container {
        position: absolute;
        left: 1rem;
        height: 4rem;
        .agent-name{
          font-size: 3rem;
          position: relative;
          width: 90vw;
          margin-top: 1rem;
          margin-bottom: 0;
          font-weight: normal;
        }
        .realtor-cpyrght{
          position: relative;
          font-size: 1rem;
          width: 90vw;
          margin-top: 0;
          color: grey;
        }
        @media screen and (min-width: 481px){
          .realtor-cpyrght {
            margin-top: .75rem;
          }
        }
        .contact-btn {
          position: absolute;
          width: 95%;
          background-color: teal;
          height: 3rem;
          border-radius: .25rem;
          color: white;
          font-size: 2rem;
        }
        @media screen and (min-width: 481px){
          .contact-btn {
            font-size: 1.5rem;
          }
        }
      }
      @media screen and (min-width: 481px){
        .name-container {
          position: absolute;
          left: 14rem;
          height: 4rem;
          width: 33%;
        }
      }
      .hero-i-container{
        position: absolute;
        top: 36rem;
        width: 90%;
        left: 1rem;
        height: 3rem;
        display: flex;
        justify-content: space-between;
      }
      @media screen and (min-width: 481px){
        .hero-i-container {
          position: absolute;
          top: 12rem;
          left:14rem;
          width: 33%;
        }
      }
  }
  @media screen and (min-width: 481px){
    .hero-name-container{
      height: 0;
    }
  }
    .hero-contact-container {
      position: absolute;
      top: 40rem;
      width: 90%;
      height: 13rem;
      left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      i {
        color: teal;
        display: flex;
        flex: 1 0 1rem;
        .phn-icn-space {
          width: 2rem;
        }
        .dsktp-icn-space {
          width: 1.3rem;
        }
        .bldng-icn-space {
          width: 1.9rem;
        }
        .nwpr-icn-space {
          width: 1.1rem;
        }
        span {
          font-size: 1rem;
        }
      }

    }
    @media screen and (min-width: 481px){
      .hero-contact-container{
        top: 1.5rem;
        left: 32rem;
        width: 33%;
        height: 95%;
      }
    }
  }
  @media screen and (min-width: 481px){
    .hero-header{
      height: 15rem;
      }
    }
  .content-container {
    position: relative;
    background-color: white;
    height: 76rem;
    .agent-select {
      position: absolute;
      left: 1rem;
      top: 1rem;
      width: 90%;
      height: 3rem;
      background-color: white;
      font-size: 1rem;
      font-weight: bold;
    }
    @media screen and (min-width: 481px){
      .agent-select{
        display: none;
        }
      }
    .content-tab {
      display: none;
      .tablinks {
        height: 5rem;
        background-color: white;
        width: 25%;
        border: 2px solid lightgrey;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 1.1rem;
        color: lightgrey;
      }
      .active {
        color: teal;
        border: 2px solid teal;
        border-top: none;
        border-left: none;
        border-right: none;
      }
    }
    @media screen and (min-width: 481px){
      .content-tab {
        display: flex;
        justify-content: space-around;
        position: absolute;
        left: 1rem;
        right: 1rem;
        }
      }
    .content-block {
      position: absolute;
      left: 1rem;
      top: 5rem;
      width: 90%;
      font-size: 1.25rem;
      line-height: 150%;
    }
    @media screen and (min-width: 481px){
      .content-block {
        width: 65%;
        top: 6rem;
        }
      }
    .designation-container {
      position: absolute;
      left:1rem;
      top: 58rem;
      h2 {
        padding-top: 2rem;
      }
    }
    @media screen and (min-width: 481px){
      .designation-container {
        top: 3rem;
        left: 34rem;
        }
      }
  }
  @media screen and (min-width: 481px){
    .content-container {
      height: 0;
      }
    }
}

footer {
  position: absolute;
  width: 94vw;
  top: 137rem;
  background-color: teal;
  color: white;
  height: 20rem;
  .footer-contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 10rem;
    .footer-phn-address {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 4rem;
      width: 100%;
      i {
        font-size: 1.5rem;
      }
      .footer-phn {
        font-size: 1.5rem;
      }
      .footer-address {
        font-size: 1.25rem;
      }
      @media screen and (min-width: 481px){
        .footer-address{
          font-size: 1rem;
        }
      }
    }
    @media screen and (min-width: 481px){
      .footer-phn-address {
        display: flex;
        align-items: flex-start;
        width: 95%;

      }
    }
    .footer-i-container {
      display: flex;
      justify-content: space-between;
      width: 75%;
    }
    @media screen and (min-width: 481px){
      .footer-i-container {
        display: flex;
        align-items: flex-start;
        width: 95%;

      }
    }
  }
  @media screen and (min-width: 481px){
    .footer-contact-container {
      width: 45%;
      left: 1rem;
    }
  }
  .footer-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 10rem;
    .footer-links {
      display: flex;
      justify-content: space-between;
      width: 75%;
      font-size: 1.2rem;
      a {
        color: white;
      }
    }
    @media screen and (min-width: 481px){
      .footer-links {
        width: 100%;
        font-size: 1.1rem;
      }
    }
    .footer-cpyrght{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      font-size: 1rem;

    }
    .footer-logos {

    }
    @media screen and (min-width: 481px){
      .footer-logos {
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }
    }
  }
  @media screen and (min-width: 481px){
    .footer-link-container {
      width: 45%;
      right: 1rem;
    }
  }
}
  @media screen and (min-width: 481px){
    footer {
      top: 78rem;
      height: 10rem;
      }
    }
